@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/MinecraftRegular.woff');
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('../fonts/Avenir-Medium.ttf');
}

:root {
    --primaryColor: #5A9364;
    --primary2Color: #417449;
    --primary3Color: #28402C;
    --secondaryColor: #585654;
    --secondary2Color: #363130;
    --secondary3Color: #1E1E1C;
    --dangerColor: #E16065;
    --danger2Color: #DA3E44;
    --danger3Color: #891A1E;
    --darkColor: #413A35;
    --dark2Color: #1F1C19;
    --dark3Color: #141210;
    --lightColor: #9C9C9C;
    --light2Color: #282828;
    --light3Color: #343434;
}

/*******************************************************************************
 *                                                                             *
 * Frame Styles (frame.ejs)                                                    *
 *                                                                             *
 ******************************************************************************/

/* Frame Bar */
#frameBar {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: background-color 1s ease;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    -webkit-user-select: none;
    font-family: 'Avenir Medium';
}

/* Undraggable region on the top of the frame. */
#frameResizableTop {
    height: 2px;
    width: 100%;
    -webkit-app-region: no-drag;
}

/* Flexbox to wrap the main frame content. */
#frameMain {
    display: flex;
    height: 20px
}

/* Undraggable region on the left and right of the frame. */
.frameResizableVert {
    width: 2px;
    -webkit-app-region: no-drag;
}

/* Main frame content for windows. */
#frameContentWin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    -webkit-app-region: drag;
}

/* Main frame content for darwin. */
#frameContentDarwin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    -webkit-app-region: drag;
}

/* Frame logo (windows only). */
#frameTitleDock {
    padding: 0px 10px;
}
#frameTitleText {
    font-size: 14px;
    letter-spacing: 0.5px;
}

/* Windows frame button dock. */
#frameButtonDockWin {
    -webkit-app-region: no-drag !important;
    position: relative;
    top: -2px;
    right: -2px;
    height: 22px;
    display: flex;
}
/* Darwin frame button dock: NaN; */
#frameButtonDockDarwin {
    -webkit-app-region: no-drag !important;
    position: relative;
    top: -1px;
    right: -1px;
    display: flex;
}

/* Windows Frame Button Styles. */
.frameButton {
    background: none;
    border: none;
    height: 22px;
    width: 39px;
    min-width: 39px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frameButton:hover,
.frameButton:focus {
    background: rgba(189, 189, 189, 0.43);
}
.frameButton:active {
    background: rgba(156, 156, 156, 0.43);
}
.frameButton:focus {
    outline: 0px;
}

/* Close button is red. */
#frameButton_close:hover,
#frameButton_close:focus {
    background: rgba(255, 53, 53, 0.61) !important;
}
#frameButton_close:active {
    background: rgba(235, 0, 0, 0.61) !important;
}

/* Darwin Frame Button Styles. */
.frameButtonDarwin {
    height: 12px;
    width: 12px;
    min-width: 12px;
    border-radius: 50%;
    border: 0px;
    margin-left: 5px;
    -webkit-app-region: no-drag !important;
    cursor: pointer;
}
.frameButtonDarwin:focus {
    outline: 0px;
}

#frameButtonDarwin_close {
    background-color: #e74c32;
}
#frameButtonDarwin_close:hover,
#frameButtonDarwin_close:focus {
    background-color: #FF9A8A;
}
#frameButtonDarwin_close:active {
    background-color: #ff8d7b;
}

#frameButtonDarwin_minimize {
    background-color: #fed045;
}
#frameButtonDarwin_minimize:hover,
#frameButtonDarwin_minimize:focus {
    background-color: #FFE9A9;
}
#frameButtonDarwin_minimize:active {
    background-color: #ffde7b;
}

#frameButtonDarwin_restoredown {
    background-color: #96e734;
}
#frameButtonDarwin_restoredown:hover,
#frameButtonDarwin_restoredown:focus {
    background-color: #D6FFA6;
}
#frameButtonDarwin_restoredown:active {
    background-color: #bfff76;
}

/*******************************************************************************
 *                                                                             *
 * Global Styles (frame.ejs)                                                    *
 *                                                                             *
 ******************************************************************************/

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-size-adjust: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

body, button, input, textarea {
    font-family: 'Minecraft';
    color: white;
}


* {
    box-sizing: border-box;
}

.bigLogo {
    width: 50%;
}

#loading {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

#main {
    backdrop-filter: blur(7.5px);
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: filter 0.25s ease;
    background: rgba(0, 0, 0, 0.25);
}

.container {
    overflow-y: auto;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    gap: 44px;
}

.row_united {
    display: flex;
}
.row_united > * {
    border-right-width: 0px !important;
}
.row_united > :last-child {
    border-right-width: 4px !important;
}

.row_setting {
    align-items: center;
    display: flex;
    gap: 44px;
}
.row_setting > :first-child {
    margin-right: auto;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.column_setting {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 32px;
    text-align: center;
}
.text {
    font-size: 16px;
    line-height: 18px;
    min-height: 18px;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    color: #fff !important;
}
.button_overlay {
    top: -4px;
    left: -4px;
    height: calc(100% + 16px);
    width: calc(100% + 8px);
}

.progress_bar {
    height: 18px;
    position: relative;
    display: flex;
    width: 100%;
}
.progress_bar > .progress {
    border: solid 4px var(--primaryColor);
    border-right: 0;
    background-color: var(--primary2Color);
    box-shadow: 0 8px 0 0 var(--primary3Color);
    z-index: 2;
}
.progress_bar > .progress[style*="width: 100%"] {
    border-right: solid 4px var(--primaryColor)
}

.progress_bar > .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: solid 4px #fff;
    background-color: #ddd;
    box-shadow: 0 8px 0 0 #999;
}


button {
    --tmpColor: var(--secondaryColor);
    --tmpColor2: var(--secondary2Color);
    --tmpColor3: var(--secondary3Color);
    --color: var(--tmpColor);
    --color2: var(--tmpColor2);
    --color3: var(--tmpColor3);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 52px;
    width: 276px;
    min-width: 276px;
    border-radius: 0;
    outline: none;
    border: solid 4px var(--color);
    background-color: var(--color2);
    box-shadow: 0 8px 0 0 var(--color3);
    justify-content: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition-duration: 0.3s;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 4px 0 0 var(--color3);
}

button > .name {
    display: flex;
    height: 52px;
    min-height: 52px;
    padding: 25px;
    gap: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

button > .name > .bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
button > .name > .bg > svg {
    fill: rgb(255,255,255,0.07);
}

button > .name > span {
    text-shadow: 0 -2px 0 var(--color3);
    text-align: center;
    font-size: 22px;
    z-index: 2;
}
button > .name > svg {
    box-shadow: 0 -2px 0 var(--color3);
    width: 24px;
    height: 24px;
    z-index: 2;
}

button > .skin {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
button > .skin > img {
    position: absolute;
    bottom: -56%;
    left: -26%;
    height: 450px;
    /*transform: scaleX(-1);*/
}

button.full {
    min-height: calc(calc(52px * 5) + calc(25px * 4));
}
button.larger {
    min-width: calc(276px * 1.5);
    width: calc(276px * 1.5);
}
button.largless {
    min-width: calc(276px / 1.5);
    width: calc(276px / 1.5);
}

button.primary {
    --tmpColor: var(--primaryColor);
    --tmpColor2: var(--primary2Color);
    --tmpColor3: var(--primary3Color);
}

button.danger {
    --tmpColor: var(--dangerColor);
    --tmpColor2: var(--danger2Color);
    --tmpColor3: var(--danger3Color);
}

button[disabled] {
    --color: color-mix(in srgb, var(--tmpColor), black 50%);
    --color2: color-mix(in srgb, var(--tmpColor2), black 50%);
    --color3: color-mix(in srgb, var(--tmpColor3), black 50%);
    color: color-mix(in srgb, #fff, black 50%);
    cursor: not-allowed
}

button[disabled] > .skin {
    filter: brightness(0.5);
}
button[disabled]:active {
    transform: translateY(0);
    box-shadow: 0 8px 0 0 var(--color3);
}

.toggle {
    --tmpColor: var(--secondaryColor);
    --tmpColor2: var(--secondary2Color);
    --tmpColor3: var(--secondary3Color);
    --color: var(--tmpColor);
    --color2: var(--tmpColor2);
    --color3: var(--tmpColor3);
    position: relative;
    display: flex;
    height: 40px;
    min-height: 40px;
    width: 72px;
    min-width: 72px;
    border-radius: 0;
    outline: none;
    border: solid 4px var(--color);
    background-color: var(--color2);
    box-shadow: 0 8px 0 0 var(--color3);
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition-duration: 0.3s;
}
.toggle > .check {
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    z-index: 1;
    transition-duration: 0.3s;
}

.toggle > .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 0;
}
.toggle > .bg > .bgbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle > .bg > .bgbox > * {
    transition-duration: 0.3s;
}
.toggle > .bg > .bgbox > .line {
    height: 8px;
    width: 3px;
    background-color: var(--color);
}
.toggle > .bg > .bgbox > .circle {
    height: 10px;
    width: 10px;
    border: solid 3px var(--color);
    background-color: transparent;
}

.toggle[value="true"] {
    --tmpColor: var(--primaryColor);
    --tmpColor2: var(--primary2Color);
    --tmpColor3: var(--primary3Color);
}
.toggle[value="true"] > .check {
    transform: translateX(100%);
}

.toggle:active {
    --tmpColor: color-mix(in srgb, var(--secondaryColor) 75%, var(--primaryColor));
    --tmpColor2: color-mix(in srgb, var(--secondary2Color) 75%, var(--primary2Color));
    --tmpColor3: color-mix(in srgb, var(--secondary3Color) 75%, var(--primary3Color));
}
.toggle:active > .check {
    transform: translateX(25%);
}
.toggle[value="true"]:active {
    --tmpColor: color-mix(in srgb, var(--secondaryColor), var(--primaryColor) 75%);
    --tmpColor2: color-mix(in srgb, var(--secondary2Color), var(--primary2Color) 75%);
    --tmpColor3: color-mix(in srgb, var(--secondary3Color), var(--primary3Color) 75%);
}
.toggle[value="true"]:active > .check {
    transform: translateX(75%);
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: var(--secondary3Color);
    border-radius: 0px;
    outline: none;
    height: 60px;
    padding: 1px;
    padding-bottom: 9px;
    width: 350px;
    border-radius: 0px;
    border: solid 4px var(--secondaryColor);
    box-shadow: 0 8px 0 0 var(--secondary3Color);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 41px;
    height: 42px;
    border-radius: 0px;
    border: solid 4px var(--primaryColor);
    background-color: var(--primary2Color);
    box-shadow: 0 8px 0 0 var(--primary3Color);
    cursor: pointer;
}

input[type="text"] {
    position: relative;
    display: flex;
    height: 60px;
    min-height: 60px;
    width: 100%;
    border-radius: 0;
    outline: none;
    border: solid 4px var(--lightColor);
    background-color: color-mix(in srgb, var(--light2Color) 75%, transparent);
    box-shadow: 0 8px 0 0 var(--light3Color);
    color: var(--lightColor);
    text-shadow: 0 -2px 0 var(--light3Color);
    font-size: 20px;
    padding: 0 22px;
    margin: 0;
    transition-duration: 0.3s;
}

input[type="text"][disabled], input[type="range"][disabled], .toggle[disabled] {
    filter: brightness(0.5);
    cursor: not-allowed;
}

.toggle[disabled] {
    --tmpColor: var(--secondaryColor);
    --tmpColor2: var(--secondary2Color);
    --tmpColor3: var(--secondary3Color);
}
.toggle[disabled] > .check {
    transform: translateX(0%);
}

.toggle[value="true"][disabled] {
    --tmpColor: var(--primaryColor);
    --tmpColor2: var(--primary2Color);
    --tmpColor3: var(--primary3Color);
}
.toggle[value="true"][disabled] > .check {
    transform: translateX(100%);
}