
#settings > #main_settings {
    height: 100%;
    padding: 154px 25%;
    padding-bottom: 72px;
    overflow-y: auto;
}
#settings > #main_settings::-webkit-scrollbar {
    width: 0px;
}

#settings > .top {
    height: 32px;
    min-height: 32px;
    width: 100%;
    background-color: var(--dark3Color);
    box-shadow: 0 12px 0 0 var(--darkColor);
    position: relative;
}
#settings > .top > .buttons {
    position: absolute;
    top: calc(50% + 16px);
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0 68px;
    gap: 30px;
    display: grid;
    grid-auto-flow: column;
}
#settings > .top > .buttons > button {
    height: 72px;
    background-color: var(--dark3Color);
    border: none;
    box-shadow: 0 12px 0 0 var(--darkColor);
    width: 100%;
    transition-duration: 0.3s;
    z-index: 1000;
}
#settings > .top > .buttons > button:active {
    transform: none;
}

button > .name > .splitbg {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
button > .name > .splitbg > svg {
    position: absolute;
    fill: var(--darkColor);
}  

#settings > .top > .buttons > button > .name > span {
    text-shadow: 0 4px 0 #0D0C0A;
    z-index: 2;
    transition-duration: 0.3s;
}

#settings > .top > .buttons > button:active {
    height: 84px;
}
#settings > .top > .buttons > button:active > .name > span {
    transform: translateY(6px);
}

#settings > .top > .buttons > button[selected] {
    height: 84px;
    background-color: var(--dark2Color);
    box-shadow: 0 12px 0 0 var(--darkColor);
}
#settings > .top > .buttons > button[selected] > .name > span {
    text-shadow: 0 4px 0 var(--dark3Color);
    transform: translateY(6px);
}

#settings > .bottom {
    height: 12px;
    min-height: 12px;
    width: 100%;
    background-color: var(--dark3Color);
    box-shadow: 0 -12px 0 0 var(--darkColor);
    position: relative;
}

#settings > .bottom > .back {
    position: absolute;
    background-color: var(--dark3Color);
    box-shadow: 0 -12px 0 0 var(--darkColor);
    padding: 20px;
    padding-bottom: 28px;
    bottom: 0px;
    right: 0;
    width: max-content;
    height: max-content;
}

.changelog-container,
#settingsUpdateStatusContainer {
    background-color: var(--dark3Color);
    padding: 20px;
    box-shadow: 0 12px 0 0 var(--darkColor);
}

.changelog-container a {
    color: #ffffff;
}

.changelog-container h2 {
    font-size: 16px;
    font-weight: 700;
}

.changelog-container p{
    font-size: 14px;
}

#settingsUpdateVersion {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#settingsUpdateActionButton > .name > span {
    font-size: 16px !important;
}